VIJU_DATA_DIR=./data
VIJU_ADMIN_TOKEN=replace-with-a-random-secret
TMDB_API_TOKEN=
PRINTER_BACKEND=mock
SPROCKET_BLUETOOTH_MAC=
SPROCKET_OBEX_CHANNEL=4
PRINTER_TIMEOUT_SECONDS=90
PRINT_WIDTH=600
PRINT_HEIGHT=900
PRINT_JPEG_QUALITY=92
VIJU_NETWORK_HELPER=
